Для сброса пароля пройдите по ссылке.

<%= edit_password_reset_url(@user.password_reset_token) %>

Если вы не запрашивали сброс пароля на сайте <a href="http://www.zapchasti35.ru">Запчасти35.ру</a>, то проигнорируйте это письмо.