<div id="login_form">
  <div id="login_links">  
    <span class="pull_left login_link">
      <%= link_to 'Вход' %>
    </span>  
    <span class="pull_right login_link link_active">
      <%= link_to 'Регистрация' %>
    </span>
  </div>
  <div class="clear"></div>
  <h1>ХУЙ!</h1>
</div>