<h1>Здравствуйте!</h1>
<p id="greetings">
	Вот уже более 10 лет наш магазин «Автозапчасти» предлагает своим клиентам:
</p>
<ul id="offers">
	<li>
		Лодочные моторы известных иностранных производителей
	</li>
	<li>
		Надувные лодки из ПВХ отечественных и иностранных производителей
	</li>
	<li>
		Запчасти для лодочных моторов и снегоходов 
	</li>
	<li>
		Автозапчасти для иномарок новые и б/у
	</li>
	<li>
		Автозапчасти для китайских автомобилей и автобусов
	</li>
	<li>
		Любые аксессуары для автомобилей
	</li>
	<li>
		Автошины и диски для автомобилей, сельхозтехники и спецтехники
	</li>
	<li>
		Все виды ремонта и ТО автомобилей
	</li>
</ul>
<h2>Оставьте заявку и наш менеджер свяжется с Вами:</h2>

<%= render :partial => 'common/order', :locals => {:multiple => true} %>