<h1>О нас</h1>

<p>
	Наш магазин и офис находится по адресу г. Вологда, ул. Первомайская д.35<br/>
	Телефоны для связи: (8172) 75-93-73, (911) 512-08-20.<br/>
	Напишите нам: <a href="mailto:barabanov35rus@yandex.ru">Barabanov35rus@yandex.ru</a>
</p>
<div id="map">
	<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=1tcLJJ8oFVgkgwww0_q4vG0F0wJYSnsF&width=600&height=450"></script>
</div>
