<h2>Доставка</h2>
<p>
	Доставка товаров производится во все регионы России. Стоимость зависит от способа доставки, веса, объема заказа.
</p>
<h2>Прием заказов</h2>
<ul class='simple_list'>
	<li>
		через форму заказа на сайте круглосуточно;
	</li>
	<li>
		по телефону по будням с 9.30 до 18.00.
	</li>
</ul>
<h2>Доставка по России</h2>
<p>
	Доставка в регионы осуществляется на условиях 100% предоплаты за товар. После поступления денег на счет мы отвозим ваш товар на терминал транспортной компании (<a href="http://www.ae5000.ru/" target="_blank">Автотрейдинг</a>, <a href="http://www.jde.ru/" target="_blank">ЖелДорЭкспедиция</a>) или любая другая на Ваш выбор. Доставка до грузоперевозчика  осуществляется нами бесплатно. Оплата за отправку заказа другими грузоперевозчиками оговаривается индивидуально. Стоимость доставки транспортной компанией Вы оплачиваете при получении Вашего товара на терминале транспортной компании в Вашем городе. Стоимость доставки транспортной компанией по России составляет от 300 рублей до нескольких тысяч рублей в зависимости от веса и габарита груза.
</p>
<p>
	Если Вы не нашли свой город ни у одного из грузоперевозчиков, мы можем доставить ваш заказ <a href="http://www.ruissanpost.ru/" target="_blank">почтой России</a> или <a href="http://www.emspost.ru/" target="_blank">EMS-почтой</a>. 
</p>
<p>
	При отправке заказа почтой России к стоимости заказа добавляется стоимость почтовых услуг (оговаривается дополнительно). Необходимо учитывать размер наибольшей из почтовых коробок: 42х27х37см. Габариты заказанных товаров не должны превышать указанных размеров. Максимальный вес запчастей не должен превышать 19кг. Посылки весом свыше 10кг являются тяжеловесными и отправка таких посылок обойдется дороже обычной. Контрольные сроки доставки посылок объявлены Почтой России и за их нарушение наш магазин ответственности не несет.
</p>
<p>
	Доставка EMS-почтой до квартиры осуществляется быстрее, но дороже. В этом случае оплата за доставку взимается при отправлении товара. <strong>В связи с тем, что у EMS-почты имеются ограничения по размерам отправляемых товаров, доставка крупногабаритных товаров осуществляется только транспортными компаниями!</strong>
</p>
<h2>Курьерская доставка по Вологде</h2>
<p>
	Как правило, время доставки составляет от 1-го до 3-х рабочих дней после оплаты и получением нами товара. Для осуществления доставки Покупатель обязан предоставить информацию о точной дате и адрес доставки, контактный телефон. Продавец не несет ответственности по времени доставки в рамках оговоренной даты. Доставка осуществляется в течение дня с 9.30 до 18.00.<br/>
	<strong>Внимание!</strong> Просим Вас помнить, что все технические параметры и потребительские свойства приобретаемого товара Вам следует уточнять у нашего менеджера до момента покупки товара. В обязанности работников курьерской службы не входит осуществление консультаций и комментариев относительно потребительских свойств товара. При доставке Вам заказанного товара проверяйте комплектность доставленного товара, соответствие доставленного товара описанию, наличие механических повреждений. После осмотра товара Покупатель делает отметку в документах, после чего претензии по качеству и комплектности не принимаются. Стоимость курьерской доставки по г.Вологда составляет 300рублей.
</p>
<h2>Самовывоз</h2>
<p>
	При желании Вы можете забрать заказ у нас в магазине по адресу: г.Вологда, ул.Первомайская, д.35 магазин «Автозапчасти» (цокольный этаж). После приема и оплаты заказа Вам на электронную почту придет уведомление о том, что заказ пришел и вы можете забрать его по указанному адресу. Время работы нашего магазина: Пн-Пт с 9.30 до 18.30 (перерыв на обед с 13.00 до 14.00).
</p>

<strong>Все расходы по доставке груза и упаковке оплачивает Заказчик.</strong>