<h1>Оплата</h1>
<p>
	<strong>Наличными в магазине «Автозапчасти» по адресу: г.Вологда ул.Первомайская, д.35 (цокольный этаж).</strong> После оформления заказа Вам необходимо передать в магазин необходимую сумму. После этого Ваш заказ будет направлен поставщику, либо, если товар есть в наличии, будет передан Вам при оплате.
</p>
<p>
	<strong>Безналичным платежом на расчетный счет.</strong> При оформлении заказа на организацию по электронной почте, факсом Вам будет отправлен счет. После поступления от Вас оплаты на наш р/с, заказ будет передан поставщику, либо, если товар имеется в наличии, будет передан вам в магазине или доставлен любым способом по вашему усмотрению (оговаривается заранее).
</p>
<p>
	<strong>Перечислением на банковскую карту.</strong> При выборе этого способа оплаты реквизиты карты сообщаются Вам дополнительно.
</p>
<p>
	<strong>Оплата через сбербанк по квитанции.</strong> Вы можете оплатить заказ в любом отделении Сбербанка. Стоимость услуг банка от 3 до 7% от размера платежа. Поступление денег на счет производится от 1 до 10 дней.
</p>
<p>
	При любом способе оплаты при получении заказа Вам выдаются все необходимые документы на товар.
</p>