<h1>Запчасти для лодочных моторов</h1>
<p>
	Любители рыбалки и активного отдыха могут заказать у нас запчасти, винты,
	чехлы для лодочных моторов иностранных производителей, как в оригинале, так и аналоги.<br/>
	Срок доставки - от 10 до 60 дней.<br/>
	Всегда есть в наличии свечи, масла для лодочных моторов и гидроциклов.
</p>
<h2>
	Оставьте заявку и наш менеджер свяжется с Вами:
</h2>
<%= render :partial => 'common/order', :locals => {:multiple => false} %>
