<h1>Запчасти</h1>

<p>Мы предлагаем запчасти для иностранных автомобилей, китайских автобусов, лодочных моторов.</p>
<p>Для заказа любой другой запчасти заполните форму ниже и наш менеджер свяжется с Вами!</p>

<%= render :partial => 'common/order', :locals => {:multiple => true} %>
