<h1>Запчасти для китайских автобусов</h1>
<p>
	В наши дни перевозчики пассажиров все чаще используют в своей работе китайские автобусы.
	Мы предлагаем запчасти и автомобильные шины для китайских автобусов.<br/>
	Доставка от 10 дней.
</p>
<h2>
	Оставьте заявку и наш менеджер свяжется с Вами:
</h2>
<%= render :partial => 'common/order', :locals => {:multiple => false} %>