<div id='header'>
	<div id='logo'>
		<%= image_tag 'logo2.png' %>
		<h1 id='slogan' class='shadowed'>Запчасти 35</h1>
		<div id="cart">1</div>
		<div id='phones' class='shadowed'>
			<span>(8172) 75-93-73</span><br/>
			<span>(911) 512-08-20</span>
		</div>
	</div>
</div>